{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-1">Registro de Usuario</h2>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{register_form|crispy}}
                        <button type="submit" class="btn btn-success">Registrarse</button>
                        <span>¿Ya tienes cuenta? <a href="/signin" class="btn btn-link">Inicia Sesion</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}